In [ ]:
# hdfs : http://localhost:9870/explorer.html#/danny/data/data/flight-data/csv
# yarn :http://localhost:8188/cluster/apps
# Spark : http://localhost:4040/

In [1]:
from pyspark import SparkContext
sc =SparkContext()

22/09/08 21:45:50 WARN Utils: Your hostname, sunghwanui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.8 instead (on interface en0)
22/09/08 21:45:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/09/08 21:45:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/08 21:45:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
sc

In [4]:
rdd = sc.textFile("hdfs://localhost:9000/danny/data/test.txt")

In [7]:
rdd.count()

595

In [19]:
from pyspark.sql import SparkSession, SQLContext

In [15]:
spark=SparkSession.builder.appName('company').getOrCreate()

In [16]:
spark

In [20]:
sqlContext = SQLContext(spark)

/Users/sunghwanki/.pyenv/versions/3.7.5/envs/python37/lib/python3.7/site-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [22]:
data = sqlContext.createDataFrame([(1.449015065E9, 1.449015065E9), (0.0,1.449015065E9),(1.449015065E9,0.0),(0.0,0.0)],
                                  ["modified", "created"])

In [23]:
data.show()

+-------------+-------------+
|     modified|      created|
+-------------+-------------+
|1.449015065E9|1.449015065E9|
|          0.0|1.449015065E9|
|1.449015065E9|          0.0|
|          0.0|          0.0|
+-------------+-------------+

In [24]:
data.printSchema()

root
 |-- modified: double (nullable = true)
 |-- created: double (nullable = true)

In [25]:
data.select(data.modified).show()

+-------------+
|     modified|
+-------------+
|1.449015065E9|
|          0.0|
|1.449015065E9|
|          0.0|
+-------------+

In [27]:
myRange = spark.range(100).toDF("number")
myRange.take(10)

[Row(number=0),
 Row(number=1),
 Row(number=2),
 Row(number=3),
 Row(number=4),
 Row(number=5),
 Row(number=6),
 Row(number=7),
 Row(number=8),
 Row(number=9)]

In [34]:
# myRange.show()
diviBy2 = myRange.where("number % 2 = 0")
diviBy2.show()

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
|    20|
|    22|
|    24|
|    26|
|    28|
|    30|
|    32|
|    34|
|    36|
|    38|
+------+
only showing top 20 rows

In [36]:
flightData2015 = spark.read.option("inferSchema", "true").option("header", "true").csv("hdfs://localhost:9000/danny/data/data/flight-data/csv/2015-summary.csv")

In [37]:
flightData2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [38]:
flightData2015.show(3)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 3 rows